
@font-face {
    font-family: 'InterDisplay Medium Italic';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/inter/InterDisplay-MediumItalic.woff2') format('woff2');
}
@font-face {
    font-family: 'InterDisplay_Black';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter/InterDisplay-Black.woff2') format('woff2');
}
.sidebar__introduction-title a{
    font-family: 'InterDisplay_Black', serif;   
}

.nav{
    font-family:'InterDisplay Medium Italic', serif ;
}
/*.post__thumbnail{
    object-fit: fill;
}*/

.notfound
{
    margin-left: 2%;
}