{{ define "main" }}
<body>
  <div class="notfound">
    <h1>404 Not Found</h1>
  <p>The page you requested cannot be found. Please  try again later.</p>
  <img title="Cueball messed up the server again. Yay." src="https://imgs.xkcd.com/comics/server_problem.png"></img>
  <p>
    <a href="{{ .Site.Home.RelPermalink }}">
      Return to the home page
    </a>
  </p>
  
  </div>
  
</body>  
{{ end }}

